
<div class="container" role="main">
  <section class="intro">
    Thank you for considering my application for the Software Engineer position. I look forward to hearing back from you.
    <ol> Requirements
      <li>
        Your application should accept and validate a 7 or 10 digit phone number.
      </li>
      <li>
        Assuming a standard alpha-numeric telephone keypad please generate a list of all possible combinations of alpha-numeric phone numbers from the input phone number. 
        Display the total count at the beginning.
      </li>
      <li>
        Implement paging for the output with each page getting it's data from the server.
      </li>
      <li>
        Provide unit tests for your backend implementation.
      </li>
    </ol>
  </section>
  <section>
    <app-phone></app-phone>
  </section>
</div>

